multimodal-rag-demo-main/n8n-workflows/document-classifier.json
{
  "name": "Auto Document Classifier",
  "nodes": [
    {
      "parameters": {},
      "id": "ddf0b649-2a3a-4d98-9a2b-1234567890ab",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "path": "/webhook/document-classification",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-classifier",
      "name": "Document Classification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        460
      ],
      "webhookId": "doc-classifier-webhook"
    },
    {
      "parameters": {
        "url": "http://api:8000/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.RAG_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.document_content}}"
            },
            {
              "name": "top_k",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "search-similar",
      "name": "Search Similar Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.results[0].score}}",
              "operation": "larger",
              "value2": 0.8
            }
          ]
        }
      },
      "id": "check-similarity",
      "name": "High Similarity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        460
      ]
    },
    {
      "parameters": {
        "url": "http://api:8000/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.RAG_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "document-classifier"
            },
            {
              "name": "action",
              "value": "classification_completed"
            },
            {
              "name": "data",
              "value": {
                "document_id": "={{$('Document Classification Webhook').first().json.document_id}}",
                "classification": "duplicate",
                "confidence": "={{$('Search Similar Documents').first().json.results[0].score}}",
                "similar_documents": "={{$('Search Similar Documents').first().json.results}}"
              }
            }
          ]
        }
      },
      "id": "mark-duplicate",
      "name": "Mark as Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        380
      ]
    },
    {
      "parameters": {
        "url": "http://api:8000/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.RAG_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "document-classifier"
            },
            {
              "name": "action",
              "value": "classification_completed"
            },
            {
              "name": "data",
              "value": {
                "document_id": "={{$('Document Classification Webhook').first().json.document_id}}",
                "classification": "unique",
                "confidence": "={{$('Search Similar Documents').first().json.results[0].score}}",
                "requires_processing": true
              }
            }
          ]
        }
      },
      "id": "mark-unique",
      "name": "Mark as Unique",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "processed",
          "classification": "={{$json.data.classification}}",
          "confidence": "={{$json.data.confidence}}"
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        460
      ]
    }
  ],
  "connections": {
    "Document Classification Webhook": {
      "main": [
        [
          {
            "node": "Search Similar Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Similar Documents": {
      "main": [
        [
          {
            "node": "High Similarity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Similarity?": {
      "main": [
        [
          {
            "node": "Mark as Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Duplicate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Unique": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "createdAt": "2025-06-26T12:00:00.000Z",
  "updatedAt": "2025-06-26T12:00:00.000Z",
  "id": "document-classifier-workflow",
  "tags": [
    {
      "id": "rag-automation",
      "name": "RAG Automation"
    }
  ]
}
