multimodal-rag-demo-main/n8n-workflows/email-document-processing.json
{
  "name": "Document Processing from Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "format": "simple",
        "options": {
          "allowUnauthorizedCerts": false,
          "port": 993,
          "secure": true,
          "markSeen": true
        },
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": true
      },
      "id": "4a9b8e12-3456-7890-abcd-ef1234567890",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [220, 300],
      "credentials": {
        "imap": {
          "id": "1",
          "name": "Email Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.attachments.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b8c9d23-4567-8901-bcde-f23456789012",
      "name": "Has Attachments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldsToSplitOut": "attachments",
        "options": {}
      },
      "id": "6c9d0e34-5678-9012-cdef-345678901234",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d0e1f45-6789-0123-def0-456789012345",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "url": "http://your-server.com/api/n8n/webhook/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "bodyContentType": "multipart-form-data",
          "formData": {
            "user_id": "email_processor_user",
            "webhook_secret": "={{ $env.N8N_WEBHOOK_SECRET }}"
          }
        }
      },
      "id": "8e1f2g56-7890-1234-efg1-567890123456",
      "name": "Upload to RAG System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "RAG API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "base": {
          "__rl": true,
          "value": "appXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Document Processing Log"
        },
        "table": {
          "__rl": true,
          "value": "tblXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Processing Log"
        },
        "options": {}
      },
      "id": "9f2g3h67-8901-2345-fgh2-678901234567",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1320, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "channel": "general",
        "text": "📄 New document processed: {{ $node['Email Trigger'].json.subject }}\n📊 Task ID: {{ $node['Upload to RAG System'].json.data.task_id }}\n⏱️ Processing started at: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
        "otherOptions": {}
      },
      "id": "0g3h4i78-9012-3456-ghi3-789012345678",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1540, 300],
      "credentials": {
        "slackApi": {
          "id": "4",
          "name": "Slack Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Upload to RAG System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to RAG System": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Airtable": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "12345"
  },
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "document-processing"
    }
  ]
}
